{% extends 'base.html' %}
{% block title %} DNS_Tools——BootstrapTable{% endblock %}
{% block css %}
    {#    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet">#}
    {#    <link href="https://cdn.bootcss.com/bootstrap-table/1.15.4/bootstrap-table.min.css" rel="stylesheet">#}
    {#    <link href="https://cdn.bootcss.com/bootstrap-table/1.15.4/extensions/filter-control/bootstrap-table-filter-control.min.css"#}
    {#          rel="stylesheet">#}
    {#    <link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">#}
    {#    <link href="https://cdn.bootcss.com/jstree/3.3.8/themes/default/style.min.css" rel="stylesheet">#}
    
    <link href="http://work_libs.base-fx.com/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://work_libs.base-fx.com/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet">
    <link href="http://work_libs.base-fx.com/bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.min.css"
          rel="stylesheet">
    <link href="http://work_libs.base-fx.com/webfonts/all.css" rel="stylesheet">
    <link href="http://work_libs.base-fx.com/jstree/dist/themes/default/style.min.css" rel="stylesheet">

    <!-- <link href="http://module.personer.tech/bootstrap-4.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://module.personer.tech/bootstrap-table/dist/bootstrap-table.min.css" rel="stylesheet">
    <link href="http://module.personer.tech/bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.min.css"
          rel="stylesheet">
    <link href="http://module.personer.tech/webfonts/all.css" rel="stylesheet">
    <link href="http://module.personer.tech/jstree/dist/themes/default/style.min.css" rel="stylesheet"> -->

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
        }

        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <link rel="stylesheet" href="{{ static('index.css') }}">
{% endblock %}

{% block body %}
    <nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">DNS_Tools</a>
        {#        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">#}
        {#        <ul class="navbar-nav px-3">#}
        {#            <li class="nav-item text-nowrap">#}
        {#                <a class="nav-link" href="#">Sign out</a>#}
        {#            </li>#}
        {#        </ul>#}
    </nav>
    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    <div id="sidebar"></div>
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <div id="toolbar">
                    <button id="add_rr" class="btn btn-secondary">Add</button>
                    <button id="edit_rr" class="btn btn-secondary">Edit</button>
                    <button id="del_rr" class="btn btn-secondary">Del</button>
                    <button id="flush_rr" class="btn btn-secondary">Flush</button>
                </div>
                <table id="table_data">
                </table>
            </main>
        </div>
    </div>
{% endblock %}
{% block js_body %}
    {#    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>#}
    {#    <script src="https://cdn.bootcss.com/popper.js/1.14.6/umd/popper.min.js"></script>#}
    {#    <script src="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>#}
    {#    <script src="https://cdn.bootcss.com/bootstrap-table/1.15.4/bootstrap-table.min.js"></script>#}
    {#    <script src="https://cdn.bootcss.com/bootstrap-table/1.15.4/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>#}
    {#    <script src="https://cdn.bootcss.com/bootstrap-table/1.15.4/extensions/editable/bootstrap-table-editable.min.js"></script>#}
    {#    <script src="https://cdn.bootcss.com/jstree/3.3.8/jstree.min.js"></script>#}
    
    <script src="http://work_libs.base-fx.com/jquery/dist/jquery.min.js"></script>
    <script src="http://work_libs.base-fx.com/popper.js/dist/umd/popper.min.js"></script>
    <script src="http://work_libs.base-fx.com/bootstrap/dist/js//bootstrap.min.js"></script>
    <script src="http://work_libs.base-fx.com/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <script src="http://work_libs.base-fx.com/bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
    <script src="https://cdn.bootcss.com/layer/2.3/layer.js"></script>
    <script src="http://work_libs.base-fx.com/jstree/dist/jstree.min.js"></script>
    
    <!-- <script src="http://module.personer.tech/jquery/dist/jquery.min.js"></script>
    <script src="http://module.personer.tech/popper.js/dist/umd/popper.min.js"></script>
    <script src="http://module.personer.tech/bootstrap-4.2.1/dist/js//bootstrap.min.js"></script>
    <script src="http://module.personer.tech/bootstrap-table/dist/bootstrap-table.min.js"></script>
    <script src="http://module.personer.tech/bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.min.js"></script>
    <script src="http://module.personer.tech/layer/2.3/layer.js"></script>
    <script src="http://module.personer.tech/jstree/dist/jstree.min.js"></script> -->

    <script src="{{ static('jquerysession.js') }}"></script>
    <script src="{{ static('index.js') }}"></script>
{% endblock %}