@import url('http://module.personer.tech/editor.md/css/editormd.min.css');
body{margin: 0;padding: 0}
body{background-color: #93BFCC;color: #000000}
#container{margin:0 auto;padding-left: 25px;}
#article_header{background-color: #6B8D9D;}
#article_header header{text-align: right;padding-right:5px;height:60px;}
#article_header header span {
  height:40px;
  line-height:40px;
}
#article_header header button{
  margin-top: 23px;
  padding: 6px 8px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 3px;
  cursor: pointer;
}
#article_list{background-color: #D4E6EB;padding: 20px;}